h1{
	text-align: center;
}
div{
	margin: 0px;
	padding: 0px;
}
section{
	width: 500px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	position: relative;
    
}
section div #corpshumain  div#texte{
	height: 500px;
    box-sizing: border-box;

}
#corpshumain{
	background-image: url(../image/corphumain.png);
	width: 150px;
	background-repeat: no-repeat;
	width: 150px;
    float: left;
}
#text{
	width: 350px;
	margin-left: 150px;
}

.rond{
	background-color: #00000077;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
}
.active{
	background-color: #FF000077;
}
.texte{
	display: none;
}

/*Placement des ronds*/
#epaule{
	top: 15%;
	left: 2%;
}
#coude{
	top: 33%;
left: 21%;
}
#poignet{
	top: 43%;
	left: -1%;
}
#hanche{
	top: 45%;
	left: 18%;
}
#genoux{
	top: 67%;
	left: 6%;
}
#cheville{
	top: 85%;
	left: 14%;
}